body{
    background-color: #f4f4f4;
    color: #555555;

    font-family: arial, helvetica, sans-serif;
    font-size: 16px;
    font-weight: normal;
    /* same as above*/
    font: normal 16px arial, helvetica, sans-serif;

    line-height: 1.6em;
    /* increases space between lines*/
}